.how-to-start {
  /* display: flex; */
  margin-top: 150px !important;
}

.how-to-start > article {
  position: relative;
}

.how-to-start-title > h2 {
  text-align: left;
}

.how-to-start-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how-to-start-card {
  background: #ffffff0a;
  padding: 20px;
  border-radius: 15px;
}

.how-to-start-card > h3 {
  text-align: left;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.how-to-start-card > ul > li {
  list-style: inside;
}

p > a {
  text-decoration: underline;
}

.how-to-start-phone {
  position: absolute;
  bottom: 0;
  left: 0;
}

.article {
  position: relative;
}

.how-to-start-bets {
  position: absolute;
  bottom: 0;
  right: -10%;
}

.cards-wrapper {
  display: flex;
  gap: 30px;
}

.article > img {
  width: 500px;
}

@media (max-width: 900px) {
  .how-to-start > h2 {
    text-align: center;
  }
  .cards-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .article {
    display: flex;
    justify-content: center;
  }

  .how-to-start-title {
    padding: 0 20px;
  }

  .how-to-start > h2 {
    font-size: 32px;
    margin-left: 20px;
  }
}

@media (max-width: 570px) {
  .article > img {
    width: 90%;
  }
}
