@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background: #0F1716;
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

strong{
    color: #88C13C;
}

h2{
    font-weight: 500;
}

.connect-wallet-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    font-size: 18px;
    background: linear-gradient(180deg, #219653 0%, #299C35 100%);
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
}